.country_detail {
  display: grid;
  gap: 5em;

  &__body {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 5em;

    @media (min-width: 76em) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__flag {
    width: 100%;
  }

  &__info {
    display: grid;
    gap: 2em;
  }

  &__info_label {
    font-weight: 600;
  }

  &__wrapper {
    display: grid;
    gap: 2em;
    margin-bottom: 1em;
    align-items: start;

    @media (min-width: 48em) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__main_info,
  &__extra_info {
    display: grid;
    gap: 0.5em;
  }

  &__border_countries {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
  }

  &__border_countries_wrapper {
      display: flex;
      flex-wrap: wrap;;
      gap: 1em;
  }
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  text-align: center;
  width: 8em;
  background-color: var(--element);
  padding: 0.5em 2em;
  border-radius: var(--element-border-radius);
  box-shadow: var(--back-button-shadow);
}

.border_country {
  padding: 0.5em 2em;
  box-shadow: var(--border-country-shadow);
  text-align: center;
  background-color: var(--element);
  color: inherit;
  font-size: 0.85em;
  border-radius: var(--element-border-radius);
}
