.countries_filter__dropdown {
  position: relative;
  width: 16em;
  background-color: var(--element);
  font-weight: 600;
  border-radius: var(--element-border-radius);

  &_toggle {
    width: 100%;
    padding: 1.5em 2em;
    border: none;
    border-radius: var(--element-border-radius);
    box-shadow: var(--country-filter-shadow);
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    background-color: var(--element);
    transition: background-color 0.2s ease;

    &:hover,
    &:focus-visible {
      background-color: var(--button-hover-background);
    }

    &:active {
      background-color: var(--button-active-background);
    }
  }

  &_arrow {
    display: inline-block;
    margin-left: 1em;
    width: 0.6em;
    height: 0.6em;
    border-right: 0.15em solid var(--text);
    border-bottom: 0.15em solid var(--text);
    transform: rotate(45deg);
    transition: transform 0.2s ease;

    &.open {
      transform: rotate(-135deg);
    }
  }

  &_menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 0.3em;
    border-radius: 0.5em;
    box-shadow: var(--country-filter-shadow);
    z-index: 10;
    list-style: none;
    padding: 1em 0;
    background-color: var(--element);
  }

  &_item {
    padding: 0.5em 2em;
    cursor: pointer;
    text-transform: capitalize;
    transition: background 0.2s;
    text-align: left;
    width: 100%;

    &:hover,
    &:focus-visible {
      background-color: var(--button-hover-background);
    }

    &:active {
      background-color: var(--button-active-background);
    }
  }
}
