.countries-filter__dropdown {
  position: relative;
  width: 16em;
  background-color: var(--elemet);
  font-weight: 600;

&-toggle {
    width: 100%;
    padding: 1.5em 2em;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 0.3em 1em rgba(0, 0, 0, 0.08);
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    background-color: var(--elemet);
  }

  &-arrow {
    display: inline-block;
    margin-left: 1em;
    width: 0.6em;
    height: 0.6em;
    border-right: 0.15em solid hsl(0, 0%, 52%);
    border-bottom: 0.15em solid hsl(0, 0%, 52%);
    transform: rotate(45deg);
    transition: transform 0.2s;

    &.open {
      transform: rotate(-135deg);
    }
  }

  &-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 0.3em;
    border-radius: 0.5em;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
    z-index: 10;
    list-style: none;
    padding: 1em 0;
    background-color: var(--elemet);
  }

  &-item {
    padding: 0.5em 2em;
    cursor: pointer;
    text-transform: capitalize;
    transition: background 0.2s;

    &:hover {
      background-color: var(--elemet);
    }
  }
}
