.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  box-shadow: var(--navbar-shadow);
  background-color: var(--element);

  &__title {
    font-size: 1rem;

    @media (min-width: 46em) {
      font-size: 1.5rem;
    }
  }

  @media (min-width: 60em) {
    padding: 2em 4em;
  }
}
