.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  box-shadow: var(--navbar-shadow);
  background-color: var(--elemet);

  @media (min-width: 60em) {
    padding: 2em 4em;
  }
}
