.countries {
  display: grid;
  gap: 3em;

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 4em;
    gap: 2em;

    @media (min-width: 48em) {
      grid-template-columns: repeat(2, 1fr);
      gap: 4em;
    }

    @media (min-width: 76em) {
      grid-template-columns: repeat(4, 1fr);
      gap: 4em;
      margin: 0;
    }
  }

  @media (min-width: 60em) {
    gap: 4em;
  }
}
