.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 1em;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.05);

  @media (min-width: 60em) {
    padding: 2em 4em;
  }
}
