*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background: none;
  border: none;
  outline: none;
  font: inherit;
  cursor: pointer;
}

input {
  border: none;
  background: none;
  outline: none;
  font: inherit;
  width: 100%;
}
